/*******************************
* FOOTER
*******************************/ 
footer {
  background-color: $color-primary;
  @extend %space-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}