/*******************************
* HEADER
*******************************/

header {
  background-color: $color-primary;
  display: flex;
  justify-content: space-between;
  text-align: center;
  // padding: $header-pading;
  @extend %space-box;
  align-items: center;

  .logo {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
  }
 
}