$nav-color-link: blue;
$nav-color-link-hover: red;

nav {
  ul {
    display: flex;
  }
  li {
    margin-right: 10px;
  }
  a {
    color: $nav-color-link;
    
    &:hover {
      text-decoration: underline;
    }

    &:active {
      background-color: $nav-color-link-hover;
      color: white;
    }
  }
}