/*******************************
* VARIABLES
*******************************/
// url 
$url-image: "https://loremflickr.com";
// colors
$color-primary: orange;
$color-secondary: green;
// fonts 
$font-size: 14px;
$font-family: arial;

// header 
$header-pading: 10px;

// box 
$sapace-box: 10px;