/*******************************
* HEADER
*******************************/

header {
  background-color: $color-primary;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: $header-pading;
  align-items: center;

  nav {
    ul {
      display: flex;
    }
    li {
      margin-right: 10px;
    }
    a {
      color: white;
      
      &:hover {
        text-decoration: underline;
      }

      &:active {
        background-color: red;
        color: white;
      }
    }
  }
}